*{
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

body {
  /*width: 100%;
  height: 50%;*/
  /* border: 2px solid white; */
  text-align: center;
  background: midnightblue;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2,0,36,1)), color-stop(35%, rgba(9,9,121,1)), to(rgba(25, 25, 112, 1)));
  background: -o-linear-gradient(top, rgba(2,0,36,1)0%, rgba(9,9,121,1)35%, rgba(25, 25, 112, 1)100%);
  background: linear-gradient(180deg, rgba(2,0,36,1)0%, rgba(9,9,121,1)35%, rgba(25, 25, 112, 1)100%);
  background-repeat: no-repeat;
}

h1,p{
  color: white
}

h1{
  /* changement de la police pour le titre */
  font-family: 'Cardo', serif;
  font-size: 50px;
}

p{
  /* changement de la police pour les paragraphes */
  font-family: 'Montserrat', sans-serif;
  font-size : 18px;
}

#imagecontainer{
  position :relative;
  width: 90vw;
  height: 80vh;
}

#wecandoit{
  width: 100vw;
  height: 70vh;
  /* sera au 1er rang */
  z-index:1;
  /* Animation CSS de gauche à droite en jouant avec sa position sur l'axe des X*/
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
#armAppear{
  position: absolute; /* postulat de départ */
  top: 0;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%); /* décalage de 50% de sa propre taille */
  z-index:-1;
  padding: 0;
  width: 90vw;
  height: 80vh;
  overflow: hidden;
}

#slogan{
  /* display:none; */
  /* position : sticky; */
  /* top: 0; */
  /* background-color: #ffdf00;
  color: midnightblue;
  border-style: groove; */
  /* DEMO-SPECIFIC STYLES */
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #ffdf00; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  font-weight: bold;
  animation:
    typing 10s steps(98, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}
/* COMPTEUR */
.main_container {
  /* height: 46px; */
  width: auto;
  padding: 3px;
  margin: 0 auto;
  max-width: 300px;
  background-color: transparent;
  align-content: center;
}
.container_inner {
  height: auto;
  border: none;
  background-color: transparent;
  max-width: 290px;
  vertical-align: center;
  padding-top: 12px;
  padding-left: 10px;
  align-content: center;
}
 .num_tiles {
  width:30px;
  height: 30px;
  background-color: #888888;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}